<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>534986532860-athminp1cglhcci2hliepfm49bm3pieq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.534986532860-athminp1cglhcci2hliepfm49bm3pieq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>534986532860-0vlg0bjp303dea0vuc5plun5prolhcti.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDqYpGzaDhkdCDc88Swk_PedgcJMi1mbuI</string>
	<key>GCM_SENDER_ID</key>
	<string>534986532860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dagoeng.triviatoe</string>
	<key>PROJECT_ID</key>
	<string>tri-via-toe-6e32e</string>
	<key>STORAGE_BUCKET</key>
	<string>tri-via-toe-6e32e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:534986532860:ios:a9d54b5da7899230b47479</string>
	<key>DATABASE_URL</key>
	<string>https://tri-via-toe-6e32e-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>